body{
    font-size: 1rem;
    padding-top: 0px;
    margin: 0px;
    font-family: "Gravity-Regular";
}

#flex{
    display: flex;
    justify-content: space-between;
}

.fixed-top{
    position: fixed;
    top: 0;
    padding: 21px;
    padding-top: 8px;
    padding-bottom: 8px;
    
}

.navbar-img img{
    height: 50px;
    width: 50px;
}
#nav-item:hover{
    border-bottom: ipx solid purple;

}

#ctf{
    height: 55px;
    display: flex;
    width: 100vh;
    justify-content: space-evenly;
    

}
#ctf img{
    height: 70px;
    border-radius: 30px;
}

#main-body{
    
    /* background-image: url('/images/image2.jpg') 50% 0 no-repeat fixed; */
    /* background-color: aqua; */
    position: relative;
   
    
    background-repeat: no-repeat;
    background-attachment: fixed;
 
    background-position: center;
    background-size: cover; 
    height: 750px;
    display: flex;
    flex-direction: column;
    
    justify-content: space-evenly;
    align-items: center;

}
#msg{
    font-size: 3.35rem;
    letter-spacing: 1.2rem;
    text-transform: uppercase;
}

.banner-msg{
    /* display: flex;
    justify-content: center; */
    width: 100%;
    margin-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 1.75em;
    font-weight: 600;
    font-family: 'Gravity-Regular';
    /* text-transform: uppercase; */
    
    
}

.home-banner p{
    font-weight: normal;
    font-size: 1.65em;
    padding: 10px;
}
.icons ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.icons ul li{
    padding: 10px;
}
.icons ul img{
    height: 40px;
}
#bg-icons ul li{
    padding: 20px;
}
#bg-icons img{
    height: 50px;
}
.my-work{
    background-color: #191919;
    color: #fff;
    padding: 40px 30px;
    display: flex;
    flex-direction: column;   
}
.my-work h3{
    padding: 20px;
}
.my-work p{
    letter-spacing: 1px;
    line-height: 1.4em;
    font-size: 16px;
}
.list-panel{
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.list-panel h5{
    padding: 10px;
}
#popular{
    background-color: #fff;
    padding: 20px;
}

/* contact page */
.form{
    padding: 30px;
    width: 60vw;
    
}

/* software page */

/* blogs page */
.blogs{
    list-style: none;
    
}

.blog-link p{
    padding: 0px;
    color: darkgray;
}
.blog-link{
    text-decoration: none;
    font-family: medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;   

}
.blog-link:hover{
    text-decoration: none;
}
.text{
    height: 70px;
    overflow: hidden;
}
.header-text{
    color: black;
    font-weight: 700;
    letter-spacing: 0px;

}
.ut{
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
}
.blog-text{
    font-size: 21px;
    font-style: normal;
    color: rgba(41, 41, 41, 1);
    letter-spacing: -0.003em;
    font-weight: 400;
    
}

#bt{
    font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
    color: rgba(41, 41, 41, 1);
    font-weight: 400;


    
}
/* footer */
.footer{
    background-color: #191919;
    padding: 20px;
    
}
.footer-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}