{% extends 'mypage/base.html' %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
{% include 'mypage/navbar.html' %}
    <div class='contact' style="padding:5px;">
        <h4 style=" padding-top: 80px;">Message me for any inquiry.</h4>
        <p>
        Please enter your name, email address and message.
        I will be happy to contact you directly and answer your questions.
        </p>
    
    <form method="post" class="form">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
        <button name="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}
        <input type="hidden" name='next' value="{% url 'mypage:index'%}"/>
    </form>
</div>
    <br>
    <div>
        <footer class="footer container-fluid">
            <div class="container footer-content">
                <p class="footerText" style="color: #fff;">STAY CONNECTED</p>
                <div class="icons">
                <ul>
                    <li><a href="#"><img src=" {% static 'images/email.png'%}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/github.png'%}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/twitter_transparent.png' %}" alt=""></a></li>
                    <li><a href="#"><img src="{% static 'images/instagram.png'%}" alt=""></a></li>
                </ul>
                </div>
            </div>
        </footer>
    </div>



{% endblock content %}