{% extends 'mypage/base.html'%}
{% load static %}
{% load bootstrap4 %}

{% block content%}
{% include 'mypage/navbar.html' %}

   <main id="main-body" style = "background-image: url({% static '/images/image2.jpg' %}); ">

            <div class='home-banner'> 
                <h3 id="msg" class="banner-msg">Dennis <br> Murage</h3>

            
                <p class="banner-msg">Self-learning software and electrical engineering<br> through research & development.</p>   
            </div>
            <div class="icons">
                <ul>
                    <li><a href="{% url 'mypage:contact'%}" ><img src="{% static 'images/email.png'%}" alt="you"></a></li>
                    <li><a href="https://github.com/javaGhost1" target="_blank"><img src="{% static 'images/github.png'%}" alt=""></a></li>
                    <li><a href="https://twitter.com/NjeruFreeman" target="_blank"><img src="{% static 'images/twitter_transparent.png' %}" alt=""></a></li>
                    <li><a href="https://www.instagram.com/njerufreeman/" target="_blank"><img src="{% static 'images/instagram.png'%}" alt=""></a></li>
                </ul>
            </div>
            <a class="ct-btn-scroll ct-js-btn-scroll" href="#section2"><img alt="Arrow Down Icon" src="{% static 'images/arrow-down-1.png' %}"></a>
    </main>
<section id="section2" class="my-work">
    <h3 id="msg">My Work</h3>
    <p>I am Dennis Murage, a curious web developer. I am passionate about web development and have spent my last six years learning different technologies. I am proficient in Html, Css, Python and Django. I've also worked with Javascript and it's libraries. I exist to try out different activities that interest me. I spend a lot of time building software and electronics, but there’s also a lot more to it. I’ve been working on a blog format to document the logic, reasoning, and problems encountered during the process of learning engineering. A combination of innovation and storytelling.</p>
    <div class="list-panel">
        <div class="col-lg-3">
            <h5>Software Development</h5>
            <ul>
                <li>Python Automation.</li>
                <li>2D Game Development.</li>
                <li> Data Visualization using Matplotlib and Plotly.</li>
                <li>Low level/embedded IoT programming</li>
                <li>Cloud computing, microservices, APIs, full stack web apps</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h5>Electronics</h5>
            <ul>
                <li>LED</li>
                <li>Robotics, batteries, embedded systems</li>
                <li>Trying not blow myself up by teaching myself IEE is quite exciting</li>
            </ul>
        </div>
        <div class="col-lg-3">
            <h5>Community Contribution</h5>
            <ul>
                <li>Blogging about my unique encounters</li>
                <li>Open source projects on Github</li>
            </ul>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container" id="popular">
            <h5 class="h5spacing" style="color: black;">Popular Projects</h5>
            <div class="table-responsive">
                <div class="django-bootstrap-table">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Language</th> 
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                    <td>Alien Invasion</td>
                                    <td>A game that the player is a rocket whose task is to shoot down aliens.</td>
                                    <td>Python</td>


                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Data Visualization</td>
                                <td>A
                                    self-contained program that generates a visu-
                                    alization based on data that it retrieves. The
                                    program uses a API to automatically request specific informa-
                                    tion from a website.</td>
                                <td>Python</td>

                            </tr>
                            <tr>
                                    <th scope="row">3</th>
                                    <td>
                                        <a target="_blank" href="https://guarded-cove-79207.herokuapp.com/">
                                        
                                        Code Vibes Blogging site
                                        </a>
                                    </td>
                                    <td>A simple blog web application. I implemented all the necessary views for users to register, log in, log out,
                                        edit their password, and reset their password. Built a model for custom user
                                        profiles and created a custom authentication backend to let users log in to
                                        the site using their email address. We also added social authentication to the
                                        site so that users can use their existing Facebook, Twitter, or Google account to
                                        log in.</td>
                                    <td>Django</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td>
                                    <a target="_blank" href='https://fast-reef-57613.herokuapp.com/blog/'>
                                    
                                    Mwakenya Blogging site</td>
                                    </a>
                                <td>A web application that uses custom Django template tags and filters
                                    to provide templates with a custom functionality. I created a sitemap for
                                    search engines to crawl the site and an RSS feed for users to subscribe to this
                                    blog. I then built a search engine for this blog using the full-text search engine
                                    of PostgreSQL</td>
                                <td>Django</td>
                             
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>Search results engine</td>
                                <td>Search engine</td>
                                <td>Python</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td>Expense Tracker</td>
                                <td>A daily expense tracker</td>
                                <td>Python</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>Facial recognition AI</td>
                                <td>Face recognition app</td>
                                <td>Python</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <h5 class="h5spacing">Future Ventures(Teach myself 2021)</h5>
        <ul>
            <li>Scalable distributed systems(infrastructure, networks, microservices</li>
            <li>Machine Learning</li>
            <li>Image/Video processing</li>
            <li>Security</li>
            <li>File servers/ personal datacenters/ NAS</li>
            <li>Blockchain</li>
            <li>Embedded Systems</li>
            <li>Electrical engineering</li>
            <li>Toasting bread instatly</li>
        </ul>
        <br>
        <p>
            I have many intersts besides technology that I may share in a similar approach. You can read more about my technology stack on the software page.
        </p>

    </div> -->
    {% include 'mypage/footer.html' %}

    </section>

{% endblock content%}

